* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

.cardContainer {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.avatarAndSliderContainer {
  position: relative;
  width: 375px;
  height: 360px;
  background-image: url("./images/pattern-bg.svg");
  background-repeat: no-repeat;
  background-size: 325px;
  background-position: 25px 25px;
}

.avatar {
  width: 250px;
  height: 250px;
  border-radius: 5px;
  position: absolute;
  top: 55px;
  left: 65px;
  box-shadow: 0 40px 38px -25px hsla(240, 37%, 20%, 0.33);
}

.sliderBtns {
  position: absolute;
  bottom: 35px;
  left: calc(50% - 40px);
  display: flex;
}

.prev, .next {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border: none;
  cursor: pointer;
}

.prev {
  border-radius: 50% 0 0 50%;
}

.next {
  border-radius: 0 50% 50% 0;
}

.prev svg, .next svg {
  transform: scale(0.8);
  transition: transform 0.1s;
}

.prev:hover svg, .next:hover svg, .prev:focus svg, .next:focus svg {
  transform: scale(0.9);
}

.bioContainer {
  width: 375px;
  display: flex;
  flex-flow: column nowrap;
  background-image: url("./images/pattern-quotes.svg"), url("images/pattern-curve.svg");
  background-repeat: no-repeat;
  background-position: center top, 0 bottom;
  background-size: 60px, 300px;
  padding: 1.6rem 2rem 5rem;
  line-height: 1.4;
  text-align: center;
  color: hsl(240, 38%, 20%);
  font-family: 'Inter', sans-serif;
}

.body {
  font-size: 1.1rem;
  font-weight: 300;
}

.author {
  margin-top: 1rem;
  font-weight: 700;
  font-size: 0.95rem;
}

.title {
  color: hsl(240, 18%, 77%);
  font-weight: 500;
  font-size: 0.95rem;
}

@media(min-width: 1000px) {
  body {
    background-image: url("./images/pattern-curve.svg");
    background-repeat: no-repeat;
    background-position: 0 bottom;
  }
  .cardContainer {
    max-width: 1440px;
    flex-flow: row nowrap;
    align-items: center;
  }
  .avatarAndSliderContainer {
    margin-top: 50px;
    order: 2;
    width: 650px;
    height: 650px;
    background-size: 650px;
    background-position: 0 0;
  }
  .avatar {
    width: 500px;
    height: 500px;
    top: 60px;
    box-shadow: 0 30px 38px -25px hsla(240, 37%, 20%, 0.33);
  }
  .sliderBtns {
    bottom: 75px;
    left: 112px;
  }
  .bioContainer {
    margin-top: -35px;
    position: relative;
    z-index: 1001;
    overflow: visible;
    width: 520px;
    height: 300px;
    background-image: url("./images/pattern-quotes.svg");
    background-position: 24% top;
    background-size: 120px;
    padding: 4rem 0 0 0;
    text-align: left;
  }
  .body {
    margin-left: 15px;
    font-size: 32px;
    width: 650px;
  }
  .bioDesc {
    margin-top: 2rem;
    display: flex;
  }
  .author {
    margin-top: 0rem;
    margin-left: 15px;
    font-size: 1.1rem;
  }
  .title {
    margin-left: 0.5rem;
    font-size: 1.1rem;
  }
}