* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  height: 100vh;
  display: flex;
  background-color: rgb(240, 240, 255);
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

.card {
  width: 95%;
  max-width: 300px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: column nowrap;
}

.cardTop {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.cardTop img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.cardBody {
  display: flex;
  flex-flow: column nowrap;
  background-color: rgb(255, 255, 255);
  border-radius: 0 0 8px 8px;
}

.cardMain {
  width: 100%;
  margin-top: 2rem;
  padding: 0 1.75rem;
}

.cardMain h1 {
  font-size: 0.95rem;
  line-height: 1.45;
  color: #555;
  letter-spacing: 0.04rem;
}

.cardMain p {
  margin-top: 0.75rem;
  line-height: 1.45;
  font-size: 0.8rem;
  letter-spacing: 0.04rem;
  color: #888;
}

.cardFooter {
  position: relative;
  height: 70px;
  margin-top: 2rem;
  overflow: hidden;
}

.cardFooterBack {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 1.75rem;
  display: flex;
  flex-flow: row nowrap;
  border-radius: 0 0 8px 8px;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.cardFooterMiddle {
  flex-grow: 1;
  padding-left: 1rem;
}

.cardFooterMiddle .author {
  font-size: 0.75rem;
  color: #555;
  letter-spacing: 0.04rem;
  font-weight: bold;
}

.cardFooterMiddle .date {
  margin-top: 0.25rem;
  font-size: 0.7rem;
  color: #999;
  letter-spacing: 0.04rem;
}

.cardFooterFront {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(51, 48, 54);
  padding: 0 1.75rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-radius: 0 0 8px 8px;
  opacity: 0;
  transform: translate(0, 80px);
  transition: all 0.1s ease;
}

.showcardFooterFront {
  transform: translate(0, 0);
  opacity: 1;
}

.cardFooterFront .shareDesc {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #ccc;
  letter-spacing: 0.25rem;
}

.cardFooterFront .social {
  padding: 0 0.5rem;
}

.cardFooterFront::after {
  position: absolute;
  bottom: -6px;
  right: 98px;
  width: 14px;
  height: 14px;
  transform: rotate(45deg);
  content: "";
  background: #6E8098;
  opacity: 0;
}

.share {
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 1.75rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(231, 231, 255);
  transition: all 0.1s ease;
}

.shareDark {
  background: #6E8098;
}

.share svg {
  width: 15px;
  height: 15px;
}

.myPath {
  fill: #6E8098;
  transition: all 0.1s ease;
}

.myPathLight {
  fill: #fff;
}

@media(min-width: 768px) {
  .card {
    max-width: 650px;
    height: 250px;
    flex-flow: row nowrap;
  }
  .cardTop {
    width: 250px;
    height: 100%;
    border-radius: 8px 0 0 8px;
  }
  .cardTop img {
    width: 250px;
    height: 100%;
    border-radius: 8px 0 0 8px;
  }
  .cardBody {
    border-radius: 0 8px 8px 0;
  }
  .cardMain {
    padding: 0 2rem;
  }
  .cardMain h1 {
    font-size: 1.1rem;
    line-height: 1.25;
    letter-spacing: 0.05rem;
  }
  .cardMain p {
    font-size: 0.75rem;
  }
  .cardFooter {
    margin-top: 0rem;
    padding-bottom: 2rem;
    overflow: visible;
  }
  .cardFooterFront {
    height: 40px;
    width: 200px;
    bottom: 60px;
    right: -60px;
    background: #6E8098;
    padding: 0 1.75rem;
    justify-content: center;
    border-radius: 8px;
    opacity: 0;
    transform: translate(0, 20px);
  }
  .showcardFooterFront {
    transform: translate(0, 0);
    opacity: 1;
  }
  .cardFooterFront .shareDesc {
    font-size: 0.7rem;
    color: #ddd;
    letter-spacing: 0.15rem;
  }
  .cardFooterFront::after {
    opacity: 1;
  }
  .share {
    bottom: 10px;
    right: 2rem;
  }
}